.a{
	position:relative;
	float: left;
	height: 426px;
	background: url(/themes/img/A.jpg) no-repeat 0 0;
	width: 911px
}
.b{
	position:relative;
	float: left;
	height: 426px;
	background: url(/themes/img/B.jpg) no-repeat 0 0;
	width: 911px
}
.car_a {
	position:absolute;
	background: url(/themes/img/car-v.png) no-repeat 0 0;
	height: 23px;
	width: 12px;
	display: none;
/*  	transform:rotate(160deg);
	-ms-transform:rotate(160deg); 	
	-moz-transform:rotate(160deg); 	
	-webkit-transform:rotate(160deg); 
	-o-transform:rotate(160deg);   */
}