.cursor {
	cursor: pointer;
}

.float-right {
	float: right;
}

.box.box-primary {
	border-top-color: #f4f4f4;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title
	{
	font-size: 15px;
}

.none {
	display: none;
}

.center {
	text-align: center;
}

.width-10 {
	width: 110px;
}

.morris-hover.morris-default-style {
	padding: 6px;
	color: #666;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	border: solid 2px rgba(230, 230, 230, 0.8);
	-webkit-border-radius: 10px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 10px;
	-moz-background-clip: padding;
	border-radius: 10px;
	background-clip: padding-box;
	line-height: 25px;
}

.morris-hover {
	position: absolute;
	z-index: 1000;
}

.morris-hover.morris-default-style .morris-hover-row-label {
	margin: .25em 0;
	font-weight: 600;
}

._pic {
	width: 810px;
	height: 400px;
	margin-top: 80px;
	margin-left: 15px;
}

._pic-1 {
	width: 410px;
	height: 400px;
	margin-top: 80px;
	margin-left: 15px;
}

.z_row {
	float: left;
	width: 1221px;
	font-size: 12px;
}

.z_row span {
	width: 87px;
	float: left;
	text-align: center;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #adadad
}