<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Prking</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">

<script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/themes/layer_mobile/layer.js' charset='utf-8'></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=1aQNZzVasvc5lHlVVLQSemZpX018UEhb"></script>
<script src="/themes/js/vue.min.js"></script>
<style type="text/css">
.actions-modal-button.bg-success, .actions-modal-label.bg-success {
    background: #4cd964;
    color: #fff;
}
</style>
</head>
<body>
	<header class="bar bar-nav">
		<h1 class='title'>我要缴费</h1>
	</header>
	<div class="content" style="top:0.2rem;">
	  <div class="list-block">
	    <ul>
	      <li>
	        <div class="item-content">
	          <div class="item-media"><i class="icon icon-form-name"></i></div>
	          <div class="item-inner">
	            <div class="item-title label">车牌号</div>
	            <div class="item-input">
	              <input type="text" value="${web_user.plateNumber}">
	            </div>
	          </div>
	        </div>
	      </li>
	      <li>
	        <div class="item-content">
	          <div class="item-media"><i class="icon icon-form-email"></i></div>
	          <div class="item-inner">
	            <div class="item-title label">手机号码</div>
	            <div class="item-input">
	              <input type="tel"  readonly="readonly"  value="${web_user.mobilePhone}">
	            </div>
	          </div>
	        </div>
	      </li>
	      <li>
	        <div class="item-content">
	          <div class="item-media"><i class="icon icon-form-email"></i></div>
	          <div class="item-inner">
	            <div class="item-title label">停车区域</div>
	            <div class="item-input">
	              <input type="text" readonly="readonly" value="浦东软件园">
	            </div>
	          </div>
	        </div>
	      </li>
	     <li>
	        <div class="item-content">
	          <div class="item-media"><i class="icon icon-form-email"></i></div>
	          <div class="item-inner">
	            <div class="item-title label">车位号</div>
	            <div class="item-input">
	              <input type="text" readonly="readonly" value="001">
	            </div>
	          </div>
	        </div>
	      </li>
	        <li>
	        <div class="item-content">
	          <div class="item-media"><i class="icon icon-form-email"></i></div>
	          <div class="item-inner">
	            <div class="item-title label">停车时间</div>
	            <div class="item-input">
	              <input type="text" readonly="readonly" value="30分">
	            </div>
	          </div>
	        </div>
	      </li>
	        <li>
	        <div class="item-content">
	          <div class="item-media"><i class="icon icon-form-email"></i></div>
	          <div class="item-inner">
	            <div class="item-title label">停车费用</div>
	            <div class="item-input">
	              <input type="text" readonly="readonly" value="0.01元">
	            </div>
	          </div>
	        </div>
	      </li>
	    </ul>
	  </div>
	  <div class="content-block">
	    <div class="row">
	      <div class="col-100"><a href="#" class="button button-big button-fill button-success">支付</a></div>
	    </div>
	  </div>
	</div>
   
	<nav class="bar bar-tab" style="z-index: 9999;">
		<a class="tab-item external  icon-home-" href="/themes/park/index.html"> 
			<span class="icon icon-home"></span>
			<span class="tab-label">全部车位</span>
		</a> 
		<a class="tab-item external active icon-star-"  href="/wx/park.html"> 
			<span class="icon icon-star"></span>
			<span class="tab-label">我要缴费</span>
		</a> 
		<a class="tab-item external icon-settings-"  href="/wx/p/me.html"> 
			<span class="icon icon-settings" ></span> 
			<span class="tab-label">关于我</span>
		</a>
	</nav>
</body>
</html>