<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>展为智能</title>
<meta name="viewport"
	content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="shortcut icon" href="/themes/img/favicon.ico" type="image/x-icon" />  
<link rel="stylesheet" href="/themes/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="/themes/awe/dist/css/AdminLTE.min.css">
<link rel="stylesheet"
	href="/themes/awe/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="/themes/css/home/main.css?_v=1">
<!--[if lt IE 9]>
    	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<body class="hold-transition skin-blue fixed sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">
		<#include "_nav.html">
		<!-- 路径导航 -->
		<div class="content-wrapper" style="background-color: white;">
			<section class="content-header" style="height: 50px;">
				<h1></h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Router详情 </a></li>
				</ol>
			</section>
			<!-- 主内容 -->
			<section class="content" id="datas">
				<div class="row">
					<div class="col-xs-12">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">
									<button type="button" class="btn btn-info btn-xs" onclick="_open('1','/p/device/router/list')" data-widget="collapse">返回</button>
									<b style="display: none;" id="mac" >${mac}</b>
								</h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body table-responsive no-padding">
								<table class="table table-hover table-bordered">
									<tbody id="data" >
										<tr>
											<th>编号：</th><td v-text="datas.id" ></td>
										</tr>
										<tr>
											<th>mac:</th><td v-text="datas.mac" ></td>
										</tr>
										<tr>
											<th>Location:</th>
											<td >
												<input type="hidden" id="location" value="item.locationId"  >
												<select class="form-control"  id="locationId" ></select>
											</td>
										</tr>
										<tr>
											<th>备注</th>
											<td>
												<textarea class="form-control" id="note"  v-text="datas.note"  ></textarea>
											</td>
										</tr>
										<tr>
											<th >
												<button class="btn btn-danger btn-xs" style="width: 40%;margin-left:2%;"  onclick="_edit();" v-text="'完成'" ></button>
											</th>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<#include "_footer.html">
	</div>
	<script src="/themes/js/home/device/router_edit.js?version=1.25"></script>

</body>
</html>