    <#include "gnss_header.html">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">站点管理</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                </ul>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-share font-blue-steel"></i>
                                <span class="caption-subject font-blue-steel ">心跳管理</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                        <div class="row">
								<form class="form-horizontal" role="form">
									<div class="form-body" >
										<div class="form-group" style="margin-top: 15px;">
											<div class="col-md-3" style="padding-left: 30px;">
												<input type="text" class="form-control" placeholder="输入MAC号码" id="mac" />
											</div>
											<div class="col-md-2">
												<button type="button" class="btn btn-success" onclick="_getData()">查询</button>
											</div>
										</div>
									</div>
								</form>
							 </div>
                            <div class="slimScrollDiv"
                                 style="position: relative;width: auto;"  id="data">
                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">mac</th>
                                        <th scope="col">类型</th>
                                        <th scope="col">报警</th>
                                        <th scope="col">报警详情</th>
                                        <th scope="col">x</th>
                                        <th scope="col">y</th>
                                        <th scope="col">z</th>
                                        <th scope="col">acc_x</th>
                                        <th scope="col">acc_y</th>
                                        <th scope="col">acc_z</th>
                                        <th scope="col">x峰</th>
                                        <th scope="col">y峰</th>
                                        <th scope="col">z峰</th>
                                        <th scope="col">振动强度</th>
                                        <th>创建时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
											<tr v-for="item in datas.list" >
												<td v-text="item.mac" ></td>
												<td>
													<font v-if="1===item.flag" v-text="'加报'" ></font>
													<font v-if="0===item.flag" v-text="'正常'" ></font>
												</td>
												<td v-text="item.alarmtype" ></td>
												<td v-text="item.alarmvalue" ></td>
												<td v-text="item.angleX" ></td>
												<td v-text="item.angleY" ></td>
												<td v-text="item.angleZ" ></td>
												<td v-text="item.accX" ></td>
												<td v-text="item.accY" ></td>
												<td v-text="item.accZ" ></td>
												<td v-text="item.accXP2p" ></td>
												<td v-text="item.accYP2p" ></td>
												<td v-text="item.accZP2p" ></td>
												<td v-text="item.shockStrength" ></td>
												<td v-text="item.createTime" ></td>
											</tr>
								 	</tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-sm-12"></div>
                                <div class="col-md-2 col-sm-12">
                                    <div class="dataTables_paginate paging_simple_numbers"
                                         id="sample_editable_1_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button previous "
                                                aria-controls="sample_editable_1" tabindex="0"
                                                id="sample_editable_1_previous">
                                                <a href="#">
                                                    <i class="fa fa-angle-left"></i>
                                                </a>
                                            </li>
                                            <li class="paginate_button active" aria-controls="sample_editable_1"
                                                tabindex="0">
                                                <a href="#">1</a>
                                            </li>
                                            <li class="paginate_button next "
                                                aria-controls="sample_editable_1" tabindex="0"
                                                id="sample_editable_1_next">
                                                <a href="#">
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <#include "gnss_footer.html">
  <script>
$(function(){
	_setClass();
	_getData();
})
var mac = '';
var p = 1;
var max = 1;
var _d = '';
function _getData(){
	if(mac!=$('#mac').val()){
		p = 1;max = 1;
		mac = $('#mac').val();
	}
	$.ajax({
		url:'/d/gnssrtklog/findAcc?mac='+mac+'&p='+p,
		type:'get',
		dataType:'json',
		success:function(res){
			max = res.data.page.pages;
			for(var i in res.data.list){
				res.data.list[i].createTime = toDateTime(parseInt(res.data.list[i].createTime));
			}
			if(_d==''){
  				_d = new Vue({
  					el : '#data',
  					data : {
  						datas : res.data
  					}
  				})
  			}else{
  				_d.datas = res.data
  			}
		}
	})
}
function _add(){
	if(max==p){
		layer.alert('当前已是最后一页！');
	}else{
		p++;
		_getData();
	}
}
function _sub(){
	if(p==1){
		layer.alert('已经是起始页！');
	}else{
		p--;
		_getData();
	}
}
</script>
  </body>
</html>