    <#include "gnss_header.html">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">新建控制</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                </ul>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 col-sm-12">
                    <div class="portlet light bordered">
                        <div class="portlet-body">
                            <div class="portlet box  ">
						<div class="portlet-body form">
						<div class="row">
							<form class="form-horizontal" role="form">
								<div class="form-body" >
									<div class="form-group" style="margin-top: 15px;">
										<label class="col-md-3 control-label">当前MAC：</label>
										<div class="col-md-6">
											<input type="text" class="form-control" id="mac" readonly="readonly">
										</div>
										<div class="col-md-3">
										</div>
									</div>
									<div class="form-group" style="margin-top: 15px;">
										<label class="col-md-3 control-label">重启</label>
										<div class="col-md-6">
											<input type="text" class="form-control" placeholder="cmd:30" readonly="readonly">
										</div>
										<div class="col-md-3">
											<button type="button" class="btn btn-success" onclick="_send(1)">下发</button>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">定位工作模式</label>
										<div class="col-md-2">
											<select class="form-control" id="21">
												<option value="1">设置</option>
												<option value="0">查询</option>
											</select>
										</div>
										<div class="col-md-2">
											<select class="form-control" id="22">
												<option value="00">RTK模式</option>
												<option value="01">高精度模式</option>
											</select>
										</div>
										<div class="col-md-2">
											<select class="form-control" id="23">
												<option value="00">测量站</option>
												<option value="01">基准站</option>
											</select>
										</div>
										<div class="col-md-3">
											<button type="button" class="btn btn-success" onclick="_send(2)">下发</button>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">设置debug模式</label>
										<div class="col-md-6">
											<select class="form-control" id="34">
												<option value="1">进入</option>
												<option value="0">退出</option>
											</select>
										</div>
										<div class="col-md-3">
											<button type="button" class="btn btn-success" onclick="_send(3)">下发</button>
										</div>
									</div>
										<div class="form-group" >
										<label class="col-md-3 control-label">设置订阅主题</label>
										<div class="col-md-6">
											<input type="text" class="form-control" placeholder="cmd:33" readonly="readonly">
										</div>
										<div class="col-md-3">
											<button type="button" class="btn btn-success" onclick="_send(4)">点击去设置</button>
										</div>
									</div>
											<div class="form-group" >
										<label class="col-md-3 control-label">输出速率模式命令</label>
										<div class="col-md-6">
											<input type="text" class="form-control" placeholder="单位为ms" id="51">
										</div>
										<div class="col-md-3">
											<button type="button" class="btn btn-success" onclick="_send(5)">下发</button>
										</div>
									</div>
										<div class="form-group" >
										<label class="col-md-3 control-label">校准加速度传感器</label>
										<div class="col-md-6">
											<input type="text" class="form-control" placeholder="cmd:36" readonly="readonly">
										</div>
										<div class="col-md-3">
											<button type="button" class="btn btn-success" onclick="_send(6)">下发</button>
										</div>
									</div>
										<div class="form-group" >
										<label class="col-md-3 control-label">加速度传感器时间</label>
										<div class="col-md-3">
											<select class="form-control" id="71">
												<option value="1">修改</option>
												<option value="0">查询</option>
											</select>
										</div>
										<div class="col-md-3">
											<input type="text" class="form-control" placeholder="请以_分割：正常上报间隔_加报间隔_加报次数"  id="72">
										</div>
										<div class="col-md-3">
											<button type="button" class="btn btn-success" onclick="_send(7)">下发</button>
										</div>
									</div>
									<div class="form-group" >
										<label class="col-md-3 control-label">加速度传感器采样间隔</label>
										<div class="col-md-3">
											<select class="form-control" id="81">
												<option value="1">修改</option>
												<option value="0">查询</option>
											</select>
										</div>
										<div class="col-md-3">
											<input type="text" class="form-control" placeholder="请输入：00、01格式"  id="82">
										</div>
										<div class="col-md-3">
											<button type="button" class="btn btn-success" onclick="_send(8)">下发</button>
										</div>
									</div>
									<div class="form-group" >
										<label class="col-md-3 control-label">固件升级</label>
										<div class="col-md-6" id="dd">
											<select class="form-control" id="73" v-for="item in datas" >
												<option v-text="item.name" v-bind:value="item.id" ></option>
											</select>
										</div>
										<div class="col-md-3">
											<button type="button" class="btn btn-success" onclick="_send(8)">下发</button>
										</div>
									</div>
									<div class="form-group" >
										<label class="col-md-3 control-label">传感器阈值</label>
										<div class="col-md-2">
											<select class="form-control" id="91">
												<option value="1">修改</option>
												<option value="0">查询</option>
											</select>
										</div>
										<div class="col-md-2">
											<input type="text" class="form-control" placeholder="加速度门限"  id="92">
										</div>
										<div class="col-md-2">
											<input type="text" class="form-control" placeholder="角度门限"  id="93">
										</div>
										<div class="col-md-3">
											<button type="button" class="btn btn-success" onclick="_send(9)">下发</button>
										</div>
									</div>
								</div>
							</form>
							</div>
						</div>
					</div>
                            </div>
                             </div>
                    </div>
                </div>
    </div>
</div>
  <#include "gnss_footer.html">
  <script>
$(function(){
	_setClass();
	_getData();
	var mac = getUrlParam('mac');
	$('#mac').val(mac);
})
function _getData(){
	$.ajax({
		url:'/d/gnssrtkfirmware/all?p=1',
		dataType:'json',
		success:function(res){
			new Vue({
				el : '#dd',
				data : {
					datas : res.data
				}
			})
		}
	})
}
function _send(n){
	var _n = 0;
	if(n==4){
		location.href = '/home/topic.html?c=7&mac='+$('#mac').val();
	}
	if(n==1){
		_n = 30;
	}
	if(n==2){
		_n = 32;
	}
	if(n==3){
		_n = 34;
	}
	if(n==5){
		_n = 35;
	}
	if(n==6){
		_n = 36;
	}
	if(n==7){
		_n = 37;
	}
	if(n==8){
		_n = 38;
	}
	if(n==9){
		_n = 39;
	}
	var p1 = $('#'+n+'1').val();
	var p2 = $('#'+n+'2').val();
	var p3 = $('#'+n+'3').val();
	var param = 'cmd='+_n+'&p1='+p1+'&p2='+p2+'&p3='+p3+'&mac='+$('#mac').val();
	$.ajax({
		url:'/d/gnssrtkcontrol/save',
		type:'post',
		data:param,
		dataType:'json',
		success:function(res){
			if(res.code=='200'){
				layer.alert('下发成功！',function(){
					location.href = '/home/cmd?c=6&mac='+$('#mac').val();
				})
			}else{
				layer.alert(res.msg);
			}
		}
	})
}
</script>
  </body>
</html>