<#include "gnss_header.html">
<div class="page-content-wrapper">
	<div class="page-content">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li><i class="fa fa-home"></i> <a href="#">设备编辑</a> <i
					class="fa fa-angle-right"></i></li>
			</ul>
		</div>
		<div class="row" style="margin-top: 15px;">
			<div class="col-md-12 col-sm-12">
				<div class="portlet light bordered">
					<div class="portlet-body">
						<div class="portlet box  ">
							<div class="portlet-body form">
								<div class="row">
									<form class="form-horizontal" role="form">
										<div class="form-body">
											<div class="form-group" style="margin-top: 15px;">
												<label class="col-md-3 control-label">选择MAC：</label>
												<div class="col-md-6">
													<select class="form-control" id="mac" >
														<option v-text="item.mac" v-for="item in datas" v-bind:value="item.mac" ></option>
													</select>
												</div>
												<div class="col-md-3"></div>
											</div>
											<div class="form-group" style="margin-top: 15px;">
												<label class="col-md-3 control-label">选择类型</label>
												<div class="col-md-6">
													<select class="form-control" id="type">
														<option value="1">参考站</option>
														<option value="0">测量站</option>
													</select>
												</div>
												<div class="col-md-3"></div>
											</div>
											<div class="form-group" style="margin-top: 15px;">
												<label class="col-md-3 control-label">参考站MAC：</label>
												<div class="col-md-6">
											<!-- 		<input type="text" placeholder="设备为参考站类型时此处可为空" class="form-control" id="basetag"> -->
													<select class="form-control" id="basetag" >
														<option value="" >设备为参考站类型时此处可不选</option>
														<option v-text="item.mac" v-bind:value="item.mac" v-for="item in datas"></option>
													</select>
												</div>
												<div class="col-md-3"></div>
											</div>
											<div class="form-group">
												<label class="col-md-3 control-label">数据类型</label>
												<div class="col-md-6">
														<input type="text" class="form-control" id="dataType"
															value="RTCM">
												</div>
												<div class="col-md-3"></div>
											</div>
												<div class="form-group" style="margin-top: 15px;">
												<label class="col-md-3 control-label">解算开关</label>
												<div class="col-md-6">
													<select class="form-control" id="switchType">
														<option value="1">开启</option>
														<option value="0">关闭</option>
													</select>
												</div>
												<div class="col-md-3"></div>
											</div>
											<div class="form-group">
												<label class="col-md-3 control-label">操作</label>
													<div class="col-md-6">
														<button type="button" class="btn btn-success" onclick="_save()">保存</button>
													</div>
												<div class="col-md-3"></div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<#include "gnss_footer.html"> <script>
	$(function() {
		_setClass();
		_getData();
	})
	function _getData(){
		$.ajax({
			url:'/d/gnssrtkdevice/list',
			type:'get',
			dataType:'json',
			success:function(res){
				new Vue({
					el : '#mac',
					data : {
						datas : res.data
					}
				})
				new Vue({
					el : '#basetag',
					data : {
						datas : res.data
					}
				})
			}
		})
	}
	function _save(){
		var mac = $('#mac').val();
		var basetag = $('#basetag').val();
		var switchType = $('#switchType').val();
		var type = $('#type').val();
		var dataType = $('#dataType').val();
		var params = 'mac='+mac+'&dataType='+dataType+'&basetag='+basetag+'&switchType='+switchType+'&type='+type;
		$.ajax({
			url:'/d/gnssrtkdevice/changeTag',
			data:params,
			dataType:'json',
			type:'post',
			success:function(res){
				if('200'==res.code){
					layer.alert('操作成功！',function(){
						location.href = '/home/device.html?c=3';
					})
				}
			}
		})
	}
</script>
</body>
</html>