 <#include "gnss_header.html">
		<div class="page-content-wrapper">
			<div class="page-content">
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li><i class="fa fa-home"></i> <a href="">站点详情</a>
							<i class="fa fa-angle-right"></i></li>
					</ul>
				</div>
				<div class="row" style="margin-top: 15px;">
					<div class="col-md-3">
						<div class="input-group">
							<input type="text" class="form-control" id="rovertag" value="0010202009000002"> <span
								class="input-group-btn">
								<button class="btn blue" type="button" onclick="_getData()">查询</button>
							</span>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 15px;">
					<div class="col-md-12 col-sm-12">
						<div class="portlet light bordered">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-share font-blue-steel"></i> <span
										class="caption-subject font-blue-steel ">站点详情</span>
								</div>
							</div>
							<div class="portlet-body">
								<div class="slimScrollDiv"
									style="position: relative; overflow: hidden; width: auto; height: 100px;">
									<div class="table-scrollable">
										<table class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th scope="col">站点id</th>
													<th scope="col">经度（度）</th>
													<th scope="col">纬度（度）</th>
													<th scope="col">大地高（米）</th>
													<th scope="col">east</th>
													<th scope="col">north</th>
													<th scope="col">up</th>
													<th scope="col">基准站</th>
													<th scope="col">注册时间</th>
													<th scope="col">操作</th>
												</tr>
											</thead>
											<tbody id="data">
												<tr>
													<td v-text="item.rovertag"></td>
													<td v-text="item.lng"></td>
													<td v-text="item.lat"></td>
													<td v-text="item.height"></td>
													<td v-text="item.east"></td>
													<td v-text="item.north"></td>
													<td v-text="item.up"></td>
													<td v-text="item.basetag"></td>
													<td v-text="item.createTime"></td>
													<td><a class="edit" href="javascript:;"> </a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="portlet box ">
					<div class="portlet-body">
						<div id="navbar-example2"
							class="navbar navbar-default navbar-static" role="navigation">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle"
									data-toggle="collapse" data-target=".bs-js-navbar-scrollspy">
									<span class="sr-only"> Toggle navigation </span> <span
										class="icon-bar"> </span> <span class="icon-bar"> </span> <span
										class="icon-bar"> </span>
								</button>
								<a class="navbar-brand" href="javascript:;"> 整体统计 </a>
							</div>
							<div class="collapse navbar-collapse bs-js-navbar-scrollspy">
								<ul class="nav navbar-nav">
									<li class="active"><a href="#home"> 基础信息 </a></li>
								</ul>
								<form class="navbar-form navbar-left" role="search">
									<div class="form-group">
										<input type="text" id="date" class="form-control"
											placeholder="选择日期">
									</div>
									<button type="button" class="btn blue" onclick="_getLog()" >查询</button>
								</form>
							</div>
							<!-- /.navbar-collapse -->
						</div>
						<div data-spy="scroll" data-target="#navbar-example2"
							style="height: 1400px;" data-offset="0" class="scrollspy-example">
							<div class="alert alert-info col-md-12 col-sm-12" style="display: none;">
								<strong></strong> 登录：1081次登出：1081次应解算：96次实际解算：57次解算成功率：59.38%
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="portlet light bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class="icon-share font-blue-steel"></i> <span
												class="caption-subject font-blue-steel ">静态解算结果</span>
										</div>
									</div>
									<div class="portlet-body">
										<div class="slimScrollDiv"
											style="position: relative; overflow: hidden; width: auto; height: 300px;">
											<div id="draw3" style="width: 100%; height: 100%;"></div>
										</div>
									</div>
								</div>
							</div>
								<div class="col-md-12 col-sm-12">
								<div class="portlet light bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class="icon-share font-blue-steel"></i> <span
												class="caption-subject font-blue-steel ">快速解算结果</span>
										</div>
									</div>
									<div class="portlet-body">
										<div class="slimScrollDiv"
											style="position: relative; overflow: hidden; width: auto; height: 300px;">
											<div id="draw" style="width: 100%; height: 100%;"></div>
										</div>
									</div>
								</div>
							</div>
								<div class="col-md-12 col-sm-12">
								<div class="portlet light bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class="icon-share font-blue-steel"></i> <span
												class="caption-subject font-blue-steel ">加速度、倾角</span>
										</div>
									</div>
									<div class="portlet-body">
										<div class="slimScrollDiv"
											style="position: relative; overflow: hidden; width: auto; height: 400px;">
											<div id="draw4" style="width: 100%; height: 100%;"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="portlet light bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class="icon-share font-blue-steel"></i> <span
												class="caption-subject font-blue-steel ">RTK</span>
										</div>
									</div>
									<div class="portlet-body">
										<div class="slimScrollDiv"
											style="position: relative; overflow: hidden; width: auto; height: 300px;">
											<div id="draw5" style="width: 100%; height: 100%;"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="portlet light bordered">
									<div class="portlet-title">
										<div class="caption">
											<i class="icon-share font-blue-steel"></i> <span
												class="caption-subject font-blue-steel ">历史源数据统计</span>
										</div>
									</div>
									<div class="portlet-body">
										<div class="slimScrollDiv"
											style="position: relative; overflow: hidden; width: auto; height: 300px;">
											<div id="draw2" style="width: 100%; height: 100%;"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<div class="portlet light bordered">
									<div class="portlet-title">
										<div class="caption">
											<span class="caption-subject font-blue-steel ">网关事件</span>
										</div>
									</div>
									<div class="portlet-body">
										<div class="slimScrollDiv"
											style="position: relative; overflow: hidden; width: auto; height: 600px;" id="data2">
											<div class="table-scrollable">
												<table
													class="table table-striped table-bordered table-hover">
													<thead>
														<tr>
															<th scope="col">事件时间</th>
															<th scope="col">事件类型</th>
															<th scope="col">设备编号</th>
														</tr>
													</thead>
													<tbody >
														<tr v-for="item in datas.list">
															<td v-text="item.createTime"></td>
															<td>
																<font v-if="1===item.type" v-text="'重连'"></font>
																<font v-if="0===item.type" v-text="'新建'"></font>
															</td>
															<td v-text="item.mac"></td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="row">
												<div class="col-md-9 col-sm-12"></div>
												<div class="col-md-3 col-sm-12">
													<div class="dataTables_paginate paging_simple_numbers"
														id="sample_editable_1_paginate">
														<ul class="pagination">
															<li class="paginate_button previous "
																aria-controls="sample_editable_1" tabindex="0"
																id="sample_editable_1_previous"><a href="#" onclick="_sub()"> <i
																	class="fa fa-angle-left"></i>
															</a></li>
															<li class="paginate_button active"
																aria-controls="sample_editable_1" tabindex="0">
																	 <a href="#" v-text="'当前第'+datas.page.currentPage+'页;共'+datas.page.pages+'页'" ></a>
																</li>
															<li class="paginate_button next "
																aria-controls="sample_editable_1" tabindex="0"
																id="sample_editable_1_next"><a href="#" onclick="_add()"> <i
																	class="fa fa-angle-right"></i>
															</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	 <#include "gnss_footer.html">
	 <script src="https://cdn.bootcss.com/echarts/3.8.0/echarts.min.js"></script>
<script>
	$(function(){
		_setClass();
		_getData();
		laydate.render({
			elem : '#date',
			type : 'datetime',
			range : true
		});
	})
	var _d = '';
	var p = 1;
	var max = 1;
	var maxDate = '';
	var minDate = '';
function _getData() {
	var rovertag = $('#rovertag').val();
	$.ajax({
			url : '/d/gnssrtkdevice/find?rovertag='+rovertag,
			type : 'get',
			dataType : 'json',
			success : function(res) {
				/* $('#mintime').text(toDateTime(parseInt(res.data.updatetime)));
				$('#minbasetag').text(res.data.basetag);
				$('#minrovertag').text(res.data.rovertag); */
				res.data.createTime = toDateTime(parseInt(res.data.createTime));
				if(res.data.lng!=''&&res.data.lng!=null){
					res.data.lng = parseFloat(res.data.lng).toFixed(9);
					res.data.lat = parseFloat(res.data.lat).toFixed(9);
					if(res.data.height!=''&&res.data.height!=null){
						res.data.height = parseFloat(res.data.height).toFixed(4);
					}
				}
				if(res.data.east!=''&&res.data.east!=null){
					res.data.east = parseFloat(res.data.east).toFixed(4);
					res.data.up = parseFloat(res.data.up).toFixed(4);
					res.data.north = parseFloat(res.data.north).toFixed(4);
				}
				if(''==_d){
					_d = new Vue({
						el : '#data',
						data : {
							item : res.data
						}
					})
				}else{
					_d.item = res.data;
				}
			}
		})
		$.ajax({
			url : '/d/gnssrtklog/findConn?mac='+rovertag+'&p='+p,
			type : 'get',
			dataType : 'json',
			success : function(res) {
				max = res.data.page.pages;
				for(var i in res.data.list){
					res.data.list[i].createTime = toDateTime(parseInt(res.data.list[i].createTime));
				}
				if(''==_d2){
					_d2 = new Vue({
						el : '#data2',
						data : {
							datas : res.data
						}
					})
				}else{
					_d2.datas = res.data;
				}
			}
		})
}
var e = [],n = [],u =[],dateArr = [],e1=[],n1=[],u1=[],dateArr1=[],f=[],f1=[],acc_x1=[],acc_y1=[],acc_z1=[],x1=[],y1=[],z1=[];
var _d2 = '',_d3 = '';
function _getLog(){
	var date = $('#date').val();
	if(date==''){
		layer.alert('请选择日期区间！');
	}else{
		var rovertag = $('#rovertag').val();
		var start = date.split(' - ')[0];
		maxDate = end;
		minDate = start;
		var end = date.split(' - ')[1];
		$.ajax({
			url:'/d/gnssrtklog/find?rovertag='+rovertag+'&start='+start+'&end='+end+'&type=0&status=-1',
			dataType:'json',
			type:'post',
			success:function(res){
				e = [];
				n =[];
				u =[];
				f = [];
				dateArr = [];
				if(myChart!=null){
					myChart.clear();
				}
				if(res.data!=null){
					var e0 = 0;
					var n0 = 0;
					var u0 = 0;
					for(var i in res.data){
						if(e0==0&&res.data[i].status==1){
							e0 = res.data[i].east;
							n0 = res.data[i].north;
							u0 = res.data[i].up;
							break;
						}
					}
					for(var i in res.data){
						res.data[i].datetime = toDateTime(parseInt(res.data[i].datetime));
						if(res.data[i].status==0){
							f.push([res.data[i].datetime,0]);
							e.push([res.data[i].datetime,'']);
							n.push([res.data[i].datetime,'']);
							u.push([res.data[i].datetime,'']);
						}else{
							var e2 = parseFloat(res.data[i].east).toFixed(4);
							var n2 = parseFloat(res.data[i].north).toFixed(4);
							var u2 = parseFloat(res.data[i].up).toFixed(4);
							var e3 = parseFloat(parseFloat(e2)-parseFloat(e0));
							var n3 = parseFloat(parseFloat(n2)-parseFloat(n0));
							var u3 = parseFloat(parseFloat(u2)-parseFloat(u0));
							e.push([res.data[i].datetime,parseFloat(e3*1000).toFixed(2)]);
							n.push([res.data[i].datetime,parseFloat(n3*1000).toFixed(2)]);
							u.push([res.data[i].datetime,parseFloat(u3*1000).toFixed(2)]);
							f.push([res.data[i].datetime,'']);
						}
						/* dateArr.push(res.data[i].datetime); */
					}
					_draw();
				}
			}
		})
		var rovertag = $('#rovertag').val();
		var start = date.split(' - ')[0];
		var end = date.split(' - ')[1];
		$.ajax({
			url:'/d/gnssrtklog/listAcc?mac='+rovertag+'&start='+start+'&end='+end,
			dataType:'json',
			type:'post',
			success:function(res){
				acc_x1=[],acc_y1=[],acc_z1=[],x1=[],y1=[],z1=[]
				if(myChart4!=null){
					myChart4.clear();
				}
				if(res.data!=null){
					for(var i in res.data){
						res.data[i].createTime = toDateTime(parseInt(res.data[i].createTime));
						var acc_x = parseFloat(res.data[i].accX).toFixed(4);
						var acc_y = parseFloat(res.data[i].accY).toFixed(4);
						var acc_z = parseFloat(res.data[i].accZ).toFixed(4);
						var x = parseFloat(res.data[i].angleX).toFixed(4);
						var y = parseFloat(res.data[i].angleY).toFixed(4);
						var z = parseFloat(res.data[i].angleZ).toFixed(4);
						acc_x1.push([res.data[i].createTime,acc_x]);
						acc_y1.push([res.data[i].createTime,acc_y]);
						acc_z1.push([res.data[i].createTime,acc_z]);
						x1.push([res.data[i].createTime,x]);
						y1.push([res.data[i].createTime,y]);
						z1.push([res.data[i].createTime,z]);
						
					}
					_draw4();
					_draw5();
				}
			}
		})
		$.ajax({
			url:'/d/gnssrtklog/find?rovertag='+rovertag+'&start='+start+'&end='+end+'&type=1&status=-1',
			dataType:'json',
			type:'post',
			success:function(res){
				e1 = [];
				n1 =[];
				u1 =[];
				f1 = [];
				dateArr1 = [];
				if(myChart3!=null){
					myChart3.clear();
				}
				if(res.data!=null){
					var e0 = 0;
					var n0 = 0;
					var u0 = 0;
					for(var i in res.data){
						if(e0==0&&res.data[i].status==1){
							e0 = res.data[i].east;
							n0 = res.data[i].north;
							u0 = res.data[i].up;
							break;
						}
					}
					for(var i in res.data){
						res.data[i].datetime = toDateTime(parseInt(res.data[i].datetime));
						if(res.data[i].status==0){
							f1.push([res.data[i].datetime,0]);
							e1.push([res.data[i].datetime,'']);
							n1.push([res.data[i].datetime,'']);
							u1.push([res.data[i].datetime,'']);
						}else{
							var e2 = parseFloat(res.data[i].east).toFixed(4);
							var n2 = parseFloat(res.data[i].north).toFixed(4);
							var u2 = parseFloat(res.data[i].up).toFixed(4);
							var e3 = parseFloat(parseFloat(e2)-parseFloat(e0));
							var n3 = parseFloat(parseFloat(n2)-parseFloat(n0));
							var u3 = parseFloat(parseFloat(u2)-parseFloat(u0));
							e1.push([res.data[i].datetime,parseFloat(e3*1000).toFixed(2)]);
							n1.push([res.data[i].datetime,parseFloat(n3*1000).toFixed(2)]);
							u1.push([res.data[i].datetime,parseFloat(u3*1000).toFixed(2)]);
							f1.push([res.data[i].datetime,'']);
						}
					}
					_draw3();
				}
			}
		})
		start = start.split(' ')[0];
		end = end.split(' ')[0];
		$.ajax({
			url:'/d/gnssrtklog/findNum?mac='+rovertag+'&start='+start+'&end='+end,
			dataType:'json',
			type:'post',
			success:function(res){
				if(myChart2!=null){
					myChart2.clear();
				}
				numData = [];
				for(var i in res.data){
			/* 		numDate.push((res.data[i].date+' '+res.data[i].startHour+':00:00').replace(/\-/g, '/')); */
					numData.push([(res.data[i].date+' '+res.data[i].startHour+':00:00'),res.data[i].num]);
				}
				_draw2();
			}
		})
	}
}
var myChart,myChart2,myChart3,myChart4,myChart5;
var numDate = [];
var numData = [];
function _draw(){
	var option = {
			title : {
				text : '快速解算：毫米(mm)',
				textStyle:{
                    fontSize: 14
				}
				
			},
			tooltip : {
				trigger : 'axis',
				formatter:function(a){
					if(a[3].data[1]!='0'){
						return toDateTime(a[0].data[0])+'<br>E：'+a[0].data[1]+'<br>N：'+a[1].data[1]+'<br>U：'+a[2].data[1]+'<br>解算成功';
					}else{
						return toDateTime(a[0].data[0])+'<br>解算失败';
					}
				}
			},
			legend : {
				data : [ 'E', 'N', 'U','解算失败']
			},
			grid : {
				left : '3%',
				right : '4%',
				bottom : '3%',
				containLabel : true
			},
			toolbox : {
				feature : {
					saveAsImage : {}
				}
			},
			xAxis : {
				type : 'time',
				boundaryGap : false,
				max:maxDate,
				min:minDate,
				axisLabel:{
					formatter: function (value, index) {
					    return toDateTime(parseInt(value));
					}
				},
	             splitLine:{
	                 show:false
	             }
			},
			yAxis : {
				type : 'value'
			},
			series : [
					{
						name : 'E',
						type : 'line',
						data :e,
						symbol: 'none'
					},
					{
						name : 'N',
						type : 'line',
						data :n,
						symbol: 'none'
					},
					{
						name : 'U',
						type : 'line',
						data : u,
						symbol: 'none'
					},
					{
						name : '解算失败',
						type : 'line',
						data : f,
						symbol: 'none',
						lineStyle:{
							normal:{
								width:35
							}
						}
					} ]
		};
		myChart = echarts.init(document
				.getElementById('draw'));
		myChart.setOption(option, true);
}
function _draw3(){
	var option = {
			title : {
				text : '静态解：毫米(mm)',
				textStyle:{
                    fontSize: 14
				}
				
			},
			tooltip : {
				trigger : 'axis',
				formatter:function(a){
					if(a[3].data[1]!='0'){
						return toDateTime(a[0].data[0])+'<br>E：'+a[0].data[1]+'<br>N：'+a[1].data[1]+'<br>U：'+a[2].data[1]+'<br>解算成功';
					}else{
						return toDateTime(a[0].data[0])+'<br>解算失败';
					}
				}
			},
			legend : {
				data : [ 'E', 'N', 'U','解算失败' ]
			},
			grid : {
				left : '3%',
				right : '4%',
				bottom : '3%',
				containLabel : true
			},
			toolbox : {
				feature : {
					saveAsImage : {}
				}
			},
			xAxis : {
				type : 'time',
				boundaryGap : false,
				max:maxDate,
				min:minDate,
				axisLabel:{
					formatter: function (value, index) {
					    return toDateTime(parseInt(value));
					}
				},
	             splitLine:{
	                 show:false
	             }
			},
			yAxis : {
				type : 'value',
		        splitLine: {
		            show: false
		        }
			},
			series : [
					{
						name : 'E',
						type : 'line',
						data :e1,
						symbol: 'none' 
					},
					{
						name : 'N',
						type : 'line',
						data :n1,
						symbol: 'none'
					},
					{
						name : 'U',
						type : 'line',
						data : u1,
						symbol: 'none'
					},
					{
						name : '解算失败',
						type : 'line',
						data : f1,
						symbol: 'none',
						lineStyle:{
							normal:{
								width:35
							}
						}
					} ]
		};
		myChart3 = echarts.init(document
				.getElementById('draw3'));
		myChart3.setOption(option, true);
}
/*
 * RTK
 */
function _draw5(){
	var option = {
			title : {
				text : 'RTK：厘米(cm)',
				textStyle:{
                    fontSize: 14
				}
				
			},
			tooltip : {
				trigger : 'axis',
				formatter:function(a){
					return toDateTime(a[0].data[0])+'<br>E：'+a[0].data[1]+'cm<br>N：'+a[1].data[1]+'cm<br>U：'+a[2].data[1]+'cm<br>';
				}
			},
			legend : {
				data : [ 'E', 'N', 'U']
			},
			grid : {
				left : '3%',
				right : '4%',
				bottom : '3%',
				containLabel : true
			},
			toolbox : {
				feature : {
					saveAsImage : {}
				}
			},
			xAxis : {
				type : 'time',
				boundaryGap : false,
				max:maxDate,
				min:minDate,
				axisLabel:{
					formatter: function (value, index) {
					    return toDateTime(parseInt(value));
					}
				},
	             splitLine:{
	                 show:false
	             }
			},
			yAxis : {
				type : 'value',
		        splitLine: {
		            show: false
		        }
			},
			series : [
					{
						name : 'E',
						type : 'line',
						symbol: 'none',
						data :[
							["2020-12-07 10:42:0", "1.31"],
							["2020-12-07 10:42:5", "1.51"],
							["2020-12-07 10:42:9", "1.86"],
							["2020-12-07 10:43:3", "1.81"],
							["2020-12-07 10:43:4", "1.8"],
							["2020-12-07 10:43:5", "1.49"],
							["2020-12-07 10:44:6", "1.0562"],
							["2020-12-07 10:44:7", "1.0474"],
							["2020-12-07 10:44:8", "1.0534"],
							["2020-12-07 10:45:9", "1.0567"],
							["2020-12-07 10:45:10", "1.0573"],
							["2020-12-07 10:45:11", "1.0618"],
							["2020-12-07 10:46:12", "1.0617"],
							["2020-12-07 10:46:13", "1.0598"],
							["2020-12-07 10:46:14", "1.0626"],
							["2020-12-07 10:47:15", "1.0582"],
							["2020-12-07 10:47:16", "1.0593"],
							["2020-12-07 10:47:17", "1.0602"],
							["2020-12-07 10:48:18", "1.0427"],
							["2020-12-07 10:48:19", "1.387"],
							["2020-12-07 10:48:20", "1.0453"],
							["2020-12-07 10:49:21", "1.0437"],
							["2020-12-07 10:49:22", "1.469"],
							["2020-12-07 10:49:23", "1.0541"],
							["2020-12-07 10:50:24", "1.494"],
							["2020-12-07 10:50:25", "1.488"],
							["2020-12-07 10:50:26", "1.0462"],
							["2020-12-07 13:59:35", ""]
						]
							
					},
					{
						name : 'N',
						type : 'line',
						symbol: 'none',
						data:[
							["2020-12-07 10:42:0", "1.0531"],
							["2020-12-07 10:42:5", "1.0551"],
							["2020-12-07 10:42:9", "1.0586"],
							["2020-12-07 10:43:3", "1.0581"],
							["2020-12-07 10:43:4", "1.0568"],
							["2020-12-07 10:43:5", "1.0549"],
							["2020-12-07 10:44:6", "1.0562"],
							["2020-12-07 10:44:7", "1.0374"],
							["2020-12-07 10:44:8", "1.0534"],
							["2020-12-07 10:45:9", "1.0567"],
							["2020-12-07 10:45:10", "1.573"],
							["2020-12-07 10:45:11", "1.718"],
							["2020-12-07 10:46:12", "1.617"],
							["2020-12-07 10:46:13", "1.598"],
							["2020-12-07 10:46:14", "1.926"],
							["2020-12-07 10:47:15", "1.582"],
							["2020-12-07 10:47:16", "1.593"],
							["2020-12-07 10:47:17", "1.602"],
							["2020-12-07 10:48:18", "1.427"],
							["2020-12-07 10:48:19", "1.0387"],
							["2020-12-07 10:48:20", "1.0453"],
							["2020-12-07 10:49:21", "1.0437"],
							["2020-12-07 10:49:22", "1.0169"],
							["2020-12-07 10:49:23", "1.0541"],
							["2020-12-07 10:50:24", "1.0494"],
							["2020-12-07 10:50:25", "1.0488"],
							["2020-12-07 10:50:26", "1.0462"],
							["2020-12-07 13:59:35", ""]
						]
								
					},
					{
						name : 'U',
						type : 'line',
						symbol: 'none',
						data :[
							["2020-12-07 10:42:0", "1.0531"],
							["2020-12-07 10:42:5", "1.0551"],
							["2020-12-07 10:42:9", "1.0586"],
							["2020-12-07 10:43:3", "1.0581"],
							["2020-12-07 10:43:4", "1.0568"],
							["2020-12-07 10:43:5", "1.0519"],
							["2020-12-07 10:44:6", "1.0562"],
							["2020-12-07 10:44:7", "1.0454"],
							["2020-12-07 10:44:8", "1.0534"],
							["2020-12-07 10:45:9", "1.0567"],
							["2020-12-07 10:45:10", "1.0563"],
							["2020-12-07 10:45:11", "1.0618"],
							["2020-12-07 10:46:12", "1.617"],
							["2020-12-07 10:46:13", "1.0598"],
							["2020-12-07 10:46:14", "1.0926"],
							["2020-12-07 10:47:15", "1.582"],
							["2020-12-07 10:47:16", "1.293"],
							["2020-12-07 10:47:17", "1.602"],
							["2020-12-07 10:48:18", "1.427"],
							["2020-12-07 10:48:19", "1.387"],
							["2020-12-07 10:48:20", "1.453"],
							["2020-12-07 10:49:21", "1.437"],
							["2020-12-07 10:49:22", "1.469"],
							["2020-12-07 10:49:23", "1.541"],
							["2020-12-07 10:50:24", "1.494"],
							["2020-12-07 10:50:25", "1.488"],
							["2020-12-07 10:50:26", "1.462"],
							["2020-12-07 13:59:35", ""]
						]
				    }
			]};
		myChart5 = echarts.init(document
				.getElementById('draw5'));
		myChart5.setOption(option, true);
}

function _draw4(){
	var option = {
			title : {
				text : '加速度、倾角',
				textStyle:{
                    fontSize: 14
				}
				
			},
			tooltip : {
				trigger : 'axis',
				formatter:function(a){
					return toDateTime(a[0].data[0])+'<br>acc_x：'+a[0].data[1]+'<br>acc_y：'+a[1].data[1]+'<br>acc_z：'+a[2].data[1]+'<br>x：'+a[3].data[1]+'<br>y：'+a[4].data[1]+'<br>z：'+a[5].data[1]
				}
			},
			legend : {
				data : [ 'acc_x', 'acc_y', 'acc_z','x','y','z' ]
			},
			grid : {
				left : '3%',
				right : '4%',
				bottom : '3%',
				containLabel : true
			},
			toolbox : {
				feature : {
					saveAsImage : {}
				}
			},
			xAxis : {
				type : 'time',
				boundaryGap : false,
				max:maxDate,
				min:minDate,
				axisLabel:{
					formatter: function (value, index) {
					    return toDateTime(parseInt(value));
					}
				},
	             splitLine:{
	                 show:false
	             }
			},
			yAxis : {
				type : 'value',
		        splitLine: {
		            show: false
		        }
			},
			series : [
					{
						name : 'acc_x',
						type : 'line',
						data :acc_x1,
						symbol: 'none'
					},
					{
						name : 'acc_y',
						type : 'line',
						data :acc_y1,
						symbol: 'none'
					},
					{
						name : 'acc_z',
						type : 'line',
						data : acc_z1,
						symbol: 'none'
					},
					{
						name : 'x',
						type : 'line',
						data : x1,
						symbol: 'none'
					},
					{
						name : 'y',
						type : 'line',
						data : y1,
						symbol: 'none'
					} ,
					{
						name : 'z',
						type : 'line',
						data : z1,
						symbol: 'none'
					}  ]
		};
		myChart4 = echarts.init(document
				.getElementById('draw4'));
		myChart4.setOption(option, true);
}
function _draw2(){
	var option2 = {
			title : {
				text : '每小时数据量',
				textStyle:{
                    fontSize: 14
				}
				
			},
			xAxis : {
				type : 'time',
				max:maxDate,
				min:minDate,
				boundaryGap : false,
				axisLabel:{
					formatter: function (value, index) {
					    return toDateTime(parseInt(value));
					}
				},
	             splitLine:{
	                 show:false
	             }
			},
			yAxis : {
				type : 'value'
			},
			tooltip : {
				trigger : 'axis',
				formatter:function(a){
					return toDateTime(a[0].data[0])+'<br>数据条数：'+a[0].data[1]
				}
			},
			legend : {
				data : [ '历元数据' ]
			},
			series : [ {
				name : '历元数据',
				data : numData,
				type : 'line',
				symbol: 'none'
			} ]
		};
		myChart2 = echarts.init(document
				.getElementById('draw2'));
		myChart2.setOption(option2, true);
}
function _add(){
	if(max==p){
		layer.alert('当前已是最后一页！');
	}else{
		p++;
		_getData();
	}
}
function _sub(){
	if(p==1){
		layer.alert('已经是起始页！');
	}else{
		p--;
		_getData();
	}
}
var jsonStr = '';
</script>
</body>
</html>