    <#include "gnss_header.html">
		<div class="page-content-wrapper">
			<div class="page-content">
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li><i class="fa fa-home"></i> <a href="index.html">站点地图</a>
							<i class="fa fa-angle-right"></i></li>
					</ul>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div id="allmap"
							style="width: 100%; height: 600px; overflow: hidden;"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="page-footer">
			<div class="page-footer-inner">2020 &copy; Create by zhanway.</div>
			<div class="scroll-to-top">
				<i class="icon-arrow-up"></i>
			</div>
		</div>
	</div>
    <#include "gnss_footer.html">
	<script type="text/javascript"
		src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=1aQNZzVasvc5lHlVVLQSemZpX018UEhb"></script>
	<script>
		jQuery(document).ready(function() {
			_setClass();
		});
	</script>
</body>
</html>
<script>
	var list = [];
	function loadJScript() {
		$.ajax({
			url : '/d/gnssrtkdevice/list',
			type : 'get',
			dataType : 'json',
			success : function(res) {
				list = res.data;
				init();
			}
		})
	}
	function init() {
		var map = new BMapGL.Map("allmap"); // 创建Map实例
		for ( var i in list) {
			var point = new BMapGL.Point(list[i].lng, list[i].lat);
			map.centerAndZoom(point, 15);
			var marker = new BMapGL.Marker(point); // 创建标注
			map.addOverlay(marker); // 将标注添加到地图中
			var opts = {
				width : 150, // 信息窗口宽度
				height : 50, // 信息窗口高度
				title : "站点：" + list[i].rovertag, // 信息窗口标题
				message : "基准站：" + list[i].basetag
			}
			var infoWindow = new BMapGL.InfoWindow("基准站：" + list[i].basetag,
					opts); // 创建信息窗口对象 
			marker.addEventListener("click", function() {
				map.openInfoWindow(infoWindow, point); //开启信息窗口
			});
		}
	}
	window.onload = loadJScript; //异步加载地图
</script>