<#include "cloud_nav.html">
<div class="layui-body">
	<fieldset class="layui-elem-field layui-field-title"
		style="margin-top: 30px;">
		<legend>最新记录</legend>
	</fieldset>
	<div class="layui-form" style="margin-left: 10px;width: 650px;">
	  <table class="layui-table" >
	    <tbody>
	      <tr>
	        <th width="200px;" ><b>刷卡人</b></th>
	        <td width="200px;" >清江阁</td>
	        <td width="250px;"  rowspan="4" >
	        	<img width="100%;" style="max-width: 350px;" alt="" src="http://120.77.53.170:18008/picture/T440106000000001/1-12-1/20170628/A201706280333281.jpg">
	        </td>
	      </tr>
	       <tr>
	        <th><b>刷卡类型</b></th>
	        <td>门禁卡</td>
	      </tr>
	       <tr>
	        <th><b>区域</b></th>
	        <td>天喔茶庄B号楼前门</td>
	      </tr>
	       <tr>
	        <th><b>刷卡时间</b></th>
	        <td>2018-07-01 00:00:00</td>
	      </tr>
	    </tbody>
	  </table>
	</div>

	<fieldset class="layui-elem-field layui-field-title"
		style="margin-top: 30px;">
		<legend>所有记录</legend>
	</fieldset>
    <div style="margin-left: 10px;">
		<table class="layui-table" lay-size="sm">
		  <colgroup>
		    <col width="150">
		    <col width="200">
		    <col width="200">
		    <col>
		  </colgroup>
		  <thead>
		    <tr>
		      <th>刷卡人</th>
		      <th>刷卡类型</th>
		      <th>刷卡时间</th>
		       <th>刷卡时间</th>
		    </tr> 
		  </thead>
		  <tbody>
		    <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		     <tr>
		      <td>曾刚回</td>
		      <td>APP</td>
		      <td>2016-11-29 17:00:00</td>
		      <td>深圳震声1栋1单元门</td>
		    </tr>
		  </tbody>
		</table>
		 <div id="page"><div class="layui-box layui-laypage layui-laypage-molv" id="layui-laypage-3"><a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="0">上一页</a><span class="layui-laypage-curr"><em class="layui-laypage-em" style="background-color:#1E9FFF;"></em><em>1</em></span><a href="javascript:;" data-page="2">2</a><a href="javascript:;" data-page="3">3</a><a href="javascript:;" data-page="4">4</a><a href="javascript:;" data-page="5">5</a><span class="layui-laypage-spr">…</span><a href="javascript:;" class="layui-laypage-last" title="尾页" data-page="10">10</a><a href="javascript:;" class="layui-laypage-next" data-page="2">下一页</a></div></div>
	</div>
</div>
<#include "cloud_footer.html">
