<#include "cloud_nav.html">
<div class="layui-body">
	<fieldset class="layui-elem-field layui-field-title"
		style="margin-top: 30px;">
		<legend>变动日志</legend>
	</fieldset>
	<div class="layui-form-item">
		<label class="layui-form-label">筛选日期</label>
		<div class="layui-input-inline">
			<input type="text" id="dateStr" readonly="readonly" class="layui-input">
		</div>
		<div class="layui-form-mid layui-word-aux">
			  <button class="layui-btn layui-btn-sm layui-btn-normal" style="margin-top: -5px;"  onclick="_getData();" > 查询 </button>
		</div>
	</div>
	<div style="margin-left: 10px;">
		<table class="layui-table" lay-size="sm">
			<colgroup>
				<col width="150">
				<col width="200">
				<col width="200">
				<col>
			</colgroup>
			<thead>
				<tr>
					<th>设备位置</th>
					<th>设备mac</th>
					<th>占用状态</th>
					<th>变动时间</th>
				</tr>
			</thead>
			<tbody id="log">
				<tr v-for="item in datas">
					<td v-text="item.description"></td>
					<td v-text="item.mac"></td>
					<td><span v-if="1===item.available" class="layui-badge">被占用</span>
						<span v-if="0===item.available" class="layui-badge layui-bg-green">正常</span>
					</td>
					<td v-text="item.changeTime"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script src="/themes/laydate/laydate.js?_v=1.05"></script>
<script src="/themes/js/cloud/fireList.js?_v=1.09"></script>
<#include "cloud_footer.html">
