<#include "m_header.html">
<header class="bar bar-nav">
	<h1 class='title'>藏书阁</h1>
</header>
<div class="content" id="data" style="margin-bottom: 80px;">
	<div class="row">
		<div class="col-50" v-for="item in datas">
			<div class="card demo-card-header-pic">
				<div valign="bottom"
					class="card-header color-white no-border no-padding">
					<img class='card-cover' v-bind:src="item.picPath">
				</div>
				<div class="card-content">
					<div class="card-content-inner">
						<p class="color-gray" v-text="item.name"></p>
						<p v-text="item.desc"></p>
					</div>
				</div>
				<div class="card-footer">
					<a href="#" class="link" v-text="'兑换积分'+item.points"></a> <a
						href="#" class="link">已兑换</a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/themes/js/front/book.js?_v=1.33"></script>
<#include "m_footer.html">
