<#include "m_header.html">
<header class="bar bar-nav">
	<h1 class='title'>接送详情</h1>
</header>
<input type="hidden" id="id" value="{_id}" name="">
<div class="content">
  <div class="list-block">
    <ul>
      <!-- Text inputs -->
         <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-email"></i></div>
          <div class="item-inner">
            <div class="item-title label">No.</div>
            <div class="item-input">
              <input type="text" readonly="readonly" v-bind:value="item.noId">
            </div>
          </div>
        </div>
      </li>
     <li class="align-top">
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-comment"></i></div>
          <div class="item-inner">
            <div class="item-title label">Name</div>
            <div class="item-input">
              <textarea v-html="item.name" readonly="readonly"></textarea>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-email"></i></div>
          <div class="item-inner">
            <div class="item-title label">Dep</div>
            <div class="item-input">
              <input type="text" readonly="readonly" v-bind:value="item.dep">
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-password"></i></div>
          <div class="item-inner">
            <div class="item-title label">Description</div>
            <div class="item-input">
              <input type="text" readonly="readonly" v-bind:value="item.description">
            </div>
          </div>
        </div>
      </li>
<li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-password"></i></div>
          <div class="item-inner">
            <div class="item-title label">Flight</div>
            <div class="item-input">
              <input type="text" readonly="readonly" v-bind:value="item.flight">
            </div>
          </div>
        </div>
      </li>
            <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-email"></i></div>
          <div class="item-inner">
            <div class="item-title label">Date</div>
            <div class="item-input">
              <input type="text" readonly="readonly" v-bind:value="item.dateStr">
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-password"></i></div>
          <div class="item-inner">
            <div class="item-title label">F/T,SHG(参考）</div>
            <div class="item-input">
              <input type="text" readonly="readonly" v-bind:value="item.pickTime">
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-password"></i></div>
          <div class="item-inner">
            <div class="item-title label">Mail Time</div>
            <div class="item-input">
              <input type="text" readonly="readonly" v-bind:value="item.mailTime">
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-password"></i></div>
          <div class="item-inner">
            <div class="item-title label">pick up time</div>
            <div class="item-input">
              <input type="text" readonly="readonly" v-bind:value="item.pickedTime">
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="content-block">
  	<p v-if="0===item.status" ><a onclick="_edit();" class="button button-fill button-success">点击已接到</a></p>
    <p><a href="/front/p/wait"class="button button-fill button-danger">返回列表</a></p>
  </div>
</div>
<script src="/themes/js/front/detail.js?_v=1.37"></script>

