<#include "m_header.html">
<!-- <header class="bar bar-nav">
  <h1 class='title'>我的</h1>
</header> -->
<div class="content">
  <div class="card" style="background: #eeeeee;">
	<div class="card-content">
		<!-- <div class="card-content-inner" style="color: red; font-size: 12px;">
			潜水教练可以预约潜水池和教室。<br>
			游泳教练和俱乐部只可预约游泳池。<br>
			俱乐部可以预约泳池和潜水池。<br>
			拥有正规的潜水证书编号的账户，后台可审核成为会员，会员可以预约潜水池。
		</div> -->
	</div>
</div>
  <div class="list-block" style="margin: 0px;">
    <ul>
      <!-- Text inputs -->
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-name"></i></div>
          <div class="item-inner">
            <div class="item-title label">姓名</div>
            <div class="item-input">
              <input type="text" id="name" v-bind:value="user.name" placeholder="请输入您的姓名">
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-name"></i></div>
          <div class="item-inner">
            <div class="item-title label">密码</div>
            <div class="item-input">
              <input type="password" id="pwd" placeholder="重新输入密码以重置" class="">
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-name"></i></div>
          <div class="item-inner">
            <div class="item-title label">手机号码</div>
             <div class="item-input">
              <input type="text" v-bind:value="user.mobilePhone" readonly="readonly" class="">
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="icon icon-form-name"></i></div>
          <div class="item-inner">
            <div class="item-title label">会员等级</div>
             <div class="item-input">
                <input type="text" v-if="1===user.type" value="教练" readonly="readonly" class="">
                <input type="text" v-if="2===user.type" value="会员" readonly="readonly" class="">
                <input type="text" v-if="3===user.type" value="散客" readonly="readonly" class="">
            </div>
          </div>
        </div>
      </li>
      <li  class="item-content item-link">
        <div class="item-media"><i class="icon icon-f7"></i></div>
        <div class="item-inner" onclick="javascript:location.href='/f/p/pro_order';" >
          <div class="item-title">我的预约</div>
          <div class="item-after"></div>
        </div>
      </li>
         <li  class="item-content item-link" >
        <div class="item-media"><i class="icon icon-f7"></i></div>
        <div class="item-inner" onclick="javascript:location.href='/f/p/index';" >
          <div class="item-title">预约</div>
          <div class="item-after"></div>
        </div>
      </li>
    </ul>
  </div>
  <p style="width: 96%;margin-left:2%;" ><a onclick="_save()" class="button">保存资料</a></p>
   <p style="width: 96%;margin-left:2%;"><a onclick="_out()" class="button button-light">退出登录</a></p>
</div>
<script src="/themes/js/front/base.js?_v=1.01" ></script>
<script src="/themes/js/front/me.js?_v=1.15" ></script>
<#include "m_footer.html">