<#include "m_header.html">
<header class="bar bar-nav">
	<h1 class='title'>关于我</h1>
</header>
<div class="content">
	<div class="list-block">
		<ul>
			<li>
				<div class="item-content">
					<div class="item-media">
						<i class="icon icon-form-name"></i>
					</div>
					<div class="item-inner">
						<div class="item-title label">昵称</div>
						<div class="item-input">
							<input type="text"  placeholder="请输入您的昵称" id="nickName"  v-bind:value="item.nickName">
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="item-content">
					<div class="item-media">
						<i class="icon icon-form-name"></i>
					</div>
					<div class="item-inner">
						<div class="item-title label">姓名</div>
						<div class="item-input">
							<input type="text" placeholder="请输入您的姓名" id="realName" v-bind:value="item.realName" >
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="item-content">
					<div class="item-media">
						<i class="icon icon-form-email"></i>
					</div>
					<div class="item-inner">
						<div class="item-title label">手机号</div>
						<div class="item-input">
							<input type="text" id="mobilePhone" readonly="readonly"
								v-bind:value="item.mobilePhone">
						</div>
					</div>
				</div>
			</li>
			<li class="align-top">
				<div class="item-content">
					<div class="item-media">
						<i class="icon icon-form-comment"></i>
					</div>
					<div class="item-inner">
						<div class="item-title label">地址</div>
						<div class="item-input">
							<textarea  placeholder="请输入您的地址"  v-bind:value="item.address" ></textarea>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="content-block">
		<div class="row">
			<div class="col-100">
				<a onclick="_edit();"
					class="button button-big button-fill button-success">编辑资料</a>
			</div>
		</div>
	</div>
	<div class="list-block">
		<ul>
			<li onclick="_open('icon-settings-','/front/p/book_post')" >
				<div class="item-content">
					<div class="item-media">
						<i class="icon icon-form-calendar"></i>
					</div>
					<div class="item-inner">
						<div class="item-title label">我要捐书</div>
						<span class="icon icon-right"></span>
					</div>
				</div>
			</li>
			<li  onclick="_open('icon-settings-','/front/p/my_book_post')" >
				<div class="item-content">
					<div class="item-media">
						<i class="icon icon-form-calendar"></i>
					</div>
					<div class="item-inner">
						<div class="item-title label">我的捐献</div>
						<span class="icon icon-right"></span>
					</div>
				</div>
			</li>
			<li  onclick="_open('icon-settings-','/front/p/my_book')" >
				<div class="item-content">
					<div class="item-media">
						<i class="icon icon-form-calendar"></i>
					</div>
					<div class="item-inner">
						<div class="item-title label">我的兑换</div>
						<span class="icon icon-right"></span>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<script src="/themes/js/front/me.js?_v=1.26"></script>
<#include "m_footer.html">
