<#include "m_header.html">
<header class="bar bar-nav">
	<h1 class='title'>我的捐赠</h1>
</header>
<div class="content">
	<div v-for="item in datas">
		<div class="content-block-title" ><b  v-text="'运单号：'+item.postNum" ></b></div>
		<div class="list-block">
			<ul>
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title" >备注</div>
						<div class="item-after" v-text="item.remark" ></div>
					</div>
				</li>
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title">得分</div>
						<div class="item-after" v-text="item.points" ></div>
					</div>
				</li>
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title">得分说明</div>
						<div class="item-after" v-text="item.pointsRemark" ></div>
					</div>
				</li>
				<li class="item-content">
					<div class="item-inner">
							<p><a v-if="0===item.status" class="button button-light">未处理</a></p>
							<p><a v-if="1===item.status" class="button">已处理</a></p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<script src="/themes/js/front/my_book_post.js?_v=1.27"></script>
<#include "m_footer.html">
