<#include "m_header.html">
<header class="bar bar-nav">
	<h1 class='title'>插画轩</h1>
</header>
<div class="content" id="data" style="margin-bottom: 80px;">
	<div class="card facebook-card" v-for="item in datas">
		<div class="card-header no-border">
			<div style="margin-left: 0;" class="facebook-name"
				v-text="item.name"></div>
		</div>
		<div class="card-content">
			<img v-bind:src="item.picPath" width="100%" />
		</div>
		<div class="card-content">
			<div class="card-content-inner">
				<p class="color-gray" v-text="'作者：'+item.autor"></p>
				<p v-text="item.desc"></p>
			</div>
		</div>
	</div>
</div>
<script src="/themes/js/blocksit.js?_v=1.02"></script>
<script src="/themes/js/front/pic.js?_v=1.25"></script>
<#include "m_footer.html">
