<#include "m_header.html">
<header class="bar bar-nav">
  <h1 class="title">课程预约</h1>
</header>
<div class="content" style="margin-top: 8px;" >
    <div class="content-block">
	</div>
</div>
<div class="card"
	style="position: absolute; bottom: 0; width: 100%; left: 0; margin: 0px;">
	<div class="card-content">
		<div class="card-content-inner" style="color: gray; font-size: 12px;">
			温馨提示：点击课程按钮即可进行预约.</div>
	</div>
</div>
<script src="/themes/js/front/base.js?_v=0.03"></script>
<script src="/themes/js/front/pro_class.js?_v=0.14"></script>
<#include "m_footer.html">
