<#include "m_header.html">
<header class="bar bar-nav">
  <h1 class="title">Site</h1>
</header>
<div data-toggle='date' id="my-input" style="margin-top: 2.2em" onclick="check();" ></div>
<div class="content" style="margin-top: 280px;" >
    <div class="content-block">
 		 <p><a href="#" class="button button-dark">light button</a></p>
 		 <p><a href="#" class="button disabled">disabled button</a></p>
 		 <p><a href="#" class="button button-dark">light button</a></p>
	</div>
</div>
<div class="card" style="position: fixed;bottom: 0;width: 100%;left: 0;margin: 0px;">
    <div class="card-content">
      <div class="card-content-inner" style="color: gray;font-size: 12px;" >
		这是一个用纯文本的简单卡片。但卡片可以包含自己的页头，页脚，列表视图，图像，和里面的任何元素。
      </div>
    </div>
  </div>
<script>
	$("#my-input").calendar({});
	function check(){
		var _year = $('.picker-calendar-day-selected').attr('data-year');
		var _month = $('.picker-calendar-day-selected').attr('data-month');
		var _day = $('.picker-calendar-day-selected').attr('data-day');
		_month = parseInt(_month)+1;
		if(_month<10){
			_month = '0'+_month;
		}
		var _date = _year+'-'+_month+'-'+_day;
		console.log(_date);
	}
</script>
<#include "m_footer.html">
