<#include "m_header.html">
<header class="bar bar-nav">
	<h1 class="title">泳池预定</h1>
</header>
<div data-toggle='date' id="my-input" style="margin-top: 2.2em"
	onclick="check();"></div>
<div class="content" style="margin-top: 290px;">
	<div class="content-block">
		<p><a href="#" class="button button-danger" onclick="_save('1')" id="time1">09:00:00~10:30:00</a></p>
		<p><a href="#" class="button disabled" 		onclick="_save('2')" id="time2"></a></p>
		<p><a href="#" class="button button-danger" onclick="_save('3')" id="time3"></a></p>
		<p><a href="#" class="button button-danger" onclick="_save('4')" id="time4"></a></p>
		<p><a href="#" class="button button-danger" onclick="_save('5')" id="time5"></a></p>
		<p><a href="#" class="button button-danger" onclick="_save('6')" id="time6"></a></p>
		<p><a href="#" class="button button-danger" onclick="_save('7')" id="time7"></a></p>
		<p><a href="#" class="button button-danger" onclick="_save('8')" id="time8"></a></p>
		<div class="list-block" >
			<ul>
				<li>
					<div class="item-content">
						<div class="item-media">
							<i class="icon icon-form-name"></i>
						</div>
						<div class="item-inner">
							<div class="item-title label" style="font-size: 12px;"  >参与人数<font style="color: red;" >&nbsp;*</font></div>
							<div class="item-input">
								<input type="text"  style="font-size: 12px;" id="num"  placeholder="请输入随行人数">
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div style="height: 30px;" ></div>
	</div>
</div>
<script src="/themes/js/front/base.js?_v=0.04"></script>
<script src="/themes/js/front/pro_swimming_pool.js?_v=1.39"></script>
<#include "m_footer.html">
