<#include "m_header.html">
<header class="bar bar-nav">
	<h1 class='title'>待处理</h1>
</header>
<div class="content" style="background: #eeeeee;" id="data" >
		<div v-for="item in datas"  class="list-block" onclick="_go(this);" v-bind:id="item.id"  >
			<ul>
				<li class="item-content">
					<div class="item-media">
						<i class="icon icon-f7"></i>
					</div>
					<div class="item-inner">
						<div class="item-title">姓名</div>
						<div class="item-after" v-text="item.name" ></div>
					</div>
				</li>
				<li class="item-content">
					<div class="item-media">
						<i class="icon icon-f7"></i>
					</div>
					<div class="item-inner">
						<div class="item-title">航班</div>
						<div class="item-after" v-text="item.flight" ></div>
					</div>
				</li>
				<li class="item-content">
					<div class="item-media">
						<i class="icon icon-f7"></i>
					</div>
					<div class="item-inner">
						<div class="item-title">电话</div>
						<div class="item-after" v-text="item.mobilePhone" ></div>
					</div>
				</li>
				<li class="item-content">
					<div class="item-media">
						<i class="icon icon-f7"></i>
					</div>
					<div class="item-inner">
						<div class="item-title">时间</div>
						<div class="item-after" v-text="item.pickTime" ></div>
					</div>
				</li>
			</ul>
		</div>
</div>
<script src="/themes/js/front/wait.js?_v=1.36"></script>
<#include "m_footer.html">
