<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Parking</title>
<meta name="viewport"
	content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" href="/themes/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="/themes/awe/dist/css/AdminLTE.min.css">
<link rel="stylesheet"
	href="/themes/awe/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="/themes/css/home/main.css?_v=1">
<!--[if lt IE 9]>
    	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<link rel="shortcut icon" href="/themes/img/favicon.ico"
	type="image/x-icon">
</head>
<body>
<body class="hold-transition skin-blue fixed sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">
		<#include "home_nav.html">
		<!-- 路径导航 -->
		<div class="content-wrapper" style="background-color: white;">
			<section class="content-header" style="height: 50px;">
				<h1></h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> </a></li>
				</ol>
			</section>
			<!-- 主内容 -->
			<section class="content">
				<div class="row">
					<div class="row">
						<div class="col-xs-12">
							<div class="box">
								<div class="box-header">
									<h3 class="box-title"></h3>
								</div>
								<!-- /.box-header -->
								<div class="box-body table-responsive no-padding">
									<div class="callout callout-info" style="width: 96%;margin-left: 2%">
							          <h4>前言</h4>
							          <p>随着社会经济的持续发展和产业调整，大批人口将向城市转移，城市人口将不断增加。同时，经济活动日趋频繁，商业活动将更加活跃，机动车的数量和使用频率也将大大增加，对中心城市的交通带来沉重的压力；交通“停车难”日益成为制约我国大中城市经济发展的“瓶颈”。同时，传统停车场管理效率和安全性大大滞后于社会的需要，给人们的生活带来了极大的不便。尤其，随着智能大厦和智能小区等智能建筑的不断发展，与之配套的停车场管理系统应运而生。</p>
							          <p>
										与国外智能化停车场系统日新月异的使用情形相比，国内对于智能化停车场的使用、特别是对基于先进的无线传感网技术的智能化停车场系统的使用，还处于一片空白。而基于物联网的智能化停车场系统，可利用传感器节点的感知能力来监控和管理每个停车位，提供特殊的引导服务，实现停车场的车位管理和车位发布等功能，彻底改变智能化停车场的发展方向，同时依托移动M2M平台与3G网络覆盖的优势，使城域级综合停车管理成为了现实，填补了基于物联网技术的智能化停车场这一领域的空白，必将引领一场停车场智能化的新革命。
							          </p>
							        </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<#include "home_footer.html">
	</div>

</body>
</html>