<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Parking</title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="stylesheet" href="/themes/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/themes/awe/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/themes/awe/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/themes/css/home/main.css?_v=1">
    <!--[if lt IE 9]>
    	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<body class="hold-transition skin-blue fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <#include "home_nav.html">
  <!-- 路径导航 -->
  <div class="content-wrapper" style="background-color: white;" >
    <section class="content-header"  style="height: 50px;">
      <h1></h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 收费管理 </a></li>
      </ol>
    </section>
    <!-- 主内容 -->
    <section class="content" >
	  <div class="row">
	     <div class="row">
	        <div class="col-xs-12">
	          <div class="box">
	            <div class="box-header">
	              <h3 class="box-title">收费策略列表</h3>
	              <div class="box-tools">
	                <div class="input-group input-group-sm" style="width: 150px;">
	                  <div class="input-group-btn">
	                    <a onclick="_open_('7','/home/p/charge','/home/p/chargeAdd')" style="float: right;" type="button" class="btn btn-info">新增收费规则</a>
	                  </div>
	                </div>
	              </div>
	            </div>
	            <div class="box-body table-responsive no-padding">
	              <table class="table table-hover table-bordered">
	              <thead>
	                <tr>
	                  <th>编号</th>
	                  <th>地区</th>
	                  <th>街道</th>
	                  <th>星期</th>
	                  <th>特定日期</th>
	                  <th>时间段</th>
	                  <th>价格/分钟</th>
	                  <th>前置不收费时长</th>
	                  <th>操作</th>
	                </tr>
	                </thead>
	               <tbody id="charge" >
	               		<tr v-for="item in charges" >
	               			<td v-text="item.id" ></td>
	               			<td v-text="item.areaName" ></td>
	               			<td v-text="item.streetName" ></td>
	               			<td>
	               				<font v-if="1==item.dateType" >周一</font>
	               				<font v-if="2==item.dateType" >周二</font>
	               				<font v-if="3==item.dateType" >周三</font>
	               				<font v-if="4==item.dateType" >周四</font>
	               				<font v-if="5==item.dateType" >周五</font>
	               				<font v-if="6==item.dateType" >周六</font>
	               				<font v-if="7==item.dateType" >周日</font>
	               			</td>
	               			<td v-text="item.singleDate" ></td>
	               			<td v-text="item.startTime+'-'+item.endTime" ></td>
	               			<td v-text="item.price+'元'" ></td>
	               			<td v-text="item.freeTime+'分钟'" ></td>
	               			<td>
	               				<span class="badge bg-red" onclick="_del('{{item.id}}')">删除</span>
	               			</td>
	               		</tr>
	              </tbody>
	              </table>
	            </div>
	          </div>
	        </div>
	      </div>
      </div>
    </section>
  </div>
  <#include "home_footer.html">
</div>
<script src="/themes/js/home/pro/charge.js?version=1.51"></script>

</body>
</html>