.location {
	float: left;
	height: 426px;
	position: relative;
	background: url(/themes/ja/img/jabg.jpg) no-repeat 0 0;
	width: 911px
}
.location-b {
	float: left;
	height: 426px;
	position: relative;
	background: url(/themes/ja/img/B.jpg) no-repeat 0 0;
	margin-top:20px;
	width: 911px
}

.car-row {
	position: absolute;
	width: 73px;
	height: 38px;
}

.car {
	transform:rotate(340deg);
	-ms-transform:rotate(340deg); 	
	-moz-transform:rotate(340deg); 	
	-webkit-transform:rotate(340deg); 
	-o-transform:rotate(340deg); 
}

.middle-upper {
	top: 225px;
}

.middle-lower {
	top: 315px;
}

.occupied-horizon {
	background: url(/themes/img/A-car.png) no-repeat 0 0;
	width: 43px;
	height: 23px;
}

.left-middle {
	left: 158px;
}

.occupied-vertical {
	background: url(/themes/img/A-car-v.png) no-repeat 0 0;
	height: 43px;
	width: 23px;
}
.none{
	display: none;
}