<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Parking</title>
<meta name="viewport"
	content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="stylesheet" href="/themes/dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="/themes/awe/dist/css/AdminLTE.min.css">
<link rel="stylesheet"
	href="/themes/awe/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="/themes/css/home/main.css?_v=1">
<!--[if lt IE 9]>
    	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<link rel="shortcut icon" href="/themes/img/favicon.ico"
	type="image/x-icon">
</head>
<body>
<body class="hold-transition skin-blue fixed sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">
		<#include "home_nav.html">
		<!-- 路径导航 -->
		<div class="content-wrapper" style="background-color: white;">
			<section class="content-header" style="height: 50px;">
				<h1></h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> 新建系统用户 </a></li>
				</ol>
			</section>
			<!-- 主内容 -->
			<section class="content">
				<div class="row">
					<div class="row">
						<div class="col-xs-12">
							<div class="box">
								<div class="box-header">
									<h3 class="box-title">新建系统用户</h3>
								</div>
								<!-- /.box-header -->
								<div class="box-body table-responsive no-padding">
									<table class="table table-hover table-bordered"  style="margin-left: 2%;width: 96%;" >
										<tbody id="data" >
											<tr>
												<th>用户名</th>
												<td><input type="text" class="form-control"  id="userName"></td>
											</tr>
											<tr>
												<th>姓名</th>
												<td><input type="text" class="form-control"  id="realName"></td>
											</tr>
											<tr>
												<th>密码</th>
												<td><input type="password" class="form-control"  id="pwd"></td>
											</tr>
											<tr>
												<th>角色</th>
												<td>
													<select class="form-control" id="roleId">
														<option v-for="item in datas" v-bind:value="item.id" v-text="item.name"  ></option>
													</select>
												</td>
											</tr>
											<tr>
												<th colspan="2" >
													<button type="button" onclick="_save();"
												class="btn btn-primary">提交</button>
												</th>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<#include "home_footer.html">
	</div>
	<script src="/themes/js/home/system/user_add.js?version=1.35"></script>

</body>
</html>