<#include "subcribe_nav.html">
<header class="bar bar-nav" style="background: #364150;text-align: center;" >
  	<img src="http://hkcsgc.protops.com.cn/protops-admin/resources/img/logo.png" style="
    height: 2.2rem;padding-top: 10px;" />
</header>
<div class="content" style="background: #eeeeee;" id="data" >
		<div v-for="item in datas"  class="list-block"  v-bind:id="item.id"  >
			<ul>
				<li class="item-content">
					<div class="item-media">
						<i class="icon icon-f7"></i>
					</div>
					<div class="item-inner">
						<div class="item-title">日期</div>
						<div class="item-after" v-text="item.dateStr" ></div>
					</div>
				</li>
					<li class="item-content">
					<div class="item-media">
						<i class="icon icon-f7"></i>
					</div>
					<div class="item-inner">
						<div class="item-title">停车场</div>
						<div class="item-after" v-text="item.parkName" ></div>
					</div>
				</li>
				<li class="item-content">
					<div class="item-media">
						<i class="icon icon-f7"></i>
					</div>
					<div class="item-inner">
						<div class="item-title">车牌号</div>
						<div class="item-after" v-text="item.plateNumber" ></div>
					</div>
				</li>
				<li class="item-content">
					<div class="item-media">
						<i class="icon icon-f7"></i>
					</div>
					<div class="item-inner">
						<div class="item-title">停车时间</div>
						<div class="item-after" v-text="item.startHour+'时~'+item.endHour+'时'" ></div>
					</div>
				</li>
				<li class="item-content">
					<div class="item-media">
						<i class="icon icon-f7"></i>
					</div>
					<div class="item-inner">
						<p style="width: 100%;"><a v-bind:id="item.id" onclick="_del(this)" style="float: right;" class="button button-dark">取消预约</a></p>
					</div>
				</li>
			</ul>
		</div>
</div>
<script src="/themes/js/subcribe/order.js?_v=1.42"></script>
<#include "subcribe_footer.html">