<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>nbBase</display-name>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/config/applicationContext.xml</param-value>
	</context-param>
	<!-- 后台数据拦截 -->
	<filter>
		<filter-name>HomeDataSessionFilter</filter-name>
		<filter-class>main.entry.filter.HomeDataFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HomeDataSessionFilter</filter-name>
		<url-pattern>/home/d/*</url-pattern>
	</filter-mapping>
	<!-- 后台页面拦截 -->
	<filter>
		<filter-name>HomePageSessionFilter</filter-name>
		<filter-class>main.entry.filter.HomePageFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HomePageSessionFilter</filter-name>
		<url-pattern>/home/p/*</url-pattern>
	</filter-mapping>
	<!-- 字符编码过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 全局访问映射 -->
	<servlet>
		<servlet-name>nbBaseServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/config/nbBaseServlet-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>nbBaseServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- 首页 -->
	<welcome-file-list>
		<welcome-file>/index</welcome-file>
	</welcome-file-list>
	<!-- 错误页 -->
	<error-page>
		<error-code>404</error-code>
		<location>/404</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/404</location>
	</error-page>
</web-app>