<!-- 底部导航 -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2014-2026 <a href="http://www.zhanway.com" target="_blank">上海展为智能技术股份有限公司</a>.</strong> All rights reserved.
  </footer>
  <div class="control-sidebar-bg"></div>
<script src="/themes/awe/plugins/jQuery/jquery-2.2.3.min.js"></script> 
<!-- <script src="/themes/js/jquery-1.7.2.min.js"></script>  -->
<script src="/themes/dist/js/bootstrap.min.js"></script>
<script src="/themes/awe/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="/themes/awe/plugins/fastclick/fastclick.js"></script>
<script src="/themes/awe/dist/js/app.min.js"></script>
<script src="/themes/awe/dist/js/demo.js"></script>
<script src="/themes/js/vue.min.js"></script>
<script src="/themes/js/common.js"></script>
<script src="/themes/js/home/base.js?v=1.12"></script>
<script src="/themes/layer/layer.js"></script>
 <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
<![endif]-->