<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>智慧社区管理平台</title>
  <link rel="stylesheet" href="/themes/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">Zhanway  智慧社区</div>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
         欢迎您：<font color="red;" >Admin</font>
        </a>
      </li>
      <li class="layui-nav-item"><a href="">登出</a></li>
    </ul>
  </div>
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">智能门禁</a>
          <dl class="layui-nav-child">
            <dd class="layui-this" ><a href="javascript:;">进出记录</a></dd>
            <dd><a href="javascript:;">社区信息</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">智能烟感</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">设备分布</a></dd>
            <dd><a href="javascript:;">烟感记录</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>