<header class="main-header">
	<a class="logo"> <span class="logo-mini"><b>Z</b>hanway</span> <span
		class="logo-lg"><b>Zhan</b>way</span>
	</a> 
	<nav class="navbar navbar-static-top">
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
			role="button"> <span class="sr-only">Toggle navigation</span> <span
			class="icon-bar"></span> <span class="icon-bar"></span> <span
			class="icon-bar"></span>
		</a>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li class="dropdown user user-menu"><a href="/home/page/notice"
					class="dropdown-toggle" data-toggle="dropdown"
					aria-expanded="false"> <i class="fa fa-bell-o"></i> <span
						class="label label-warning" id="warningNum"></span>
				</a></li>
				<li class="dropdown user user-menu"><a class="dropdown-toggle"
					data-toggle="dropdown"> <span class="hidden-xs">欢迎您：Admin</span>
				</a></li>
				<li><a onclick="loginOut();"><i class="fa fa-sign-out"></i></a>
				</li>
			</ul>
		</div>
	</nav>
</header>
<!--左侧导航 -->
<aside class="main-sidebar">
	<section class="sidebar">
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" id="warningInput" class="form-control" value=""
					disabled="disabled"> <span class="input-group-btn">
					<button type="button" name="search" id="search-btn"
						class="btn btn-flat">
						<i class="fa fa-calendar"></i>
					</button>
				</span>
			</div>
		</form>
		<ul class="sidebar-menu">
			<li class="header">MAIN MENUS</li>
			<li class="treeview l1 active"  ><a href="#"> <i
					class="fa fa-edit"></i> <span>GNSS</span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu u1 active" >
					<li onclick="_open('1','/d/device')"><a><i
							class="fa fa-circle-o"></i>设备管理</a></li>
					<li onclick="_open('1','/d/log')"><a><i
							class="fa fa-circle-o"></i> 日志管理</a></li>
					<li onclick="_open('1','/d/socket')"><a><i
							class="fa fa-circle-o"></i> 连接管理</a></li>
					<li onclick="_open('1','/d/logExcel')"><a><i
							class="fa fa-circle-o"></i> 变化曲线</a></li>
							<li onclick="_open('1','/d/logMap')"><a><i
							class="fa fa-circle-o"></i> 变化轨迹</a></li>
				</ul></li>
		</ul>
		<ul class="sidebar-menu">

		</ul>
	</section>
</aside>
