<header class="main-header">
	<!-- <a class="logo"> <span class="logo-mini"><b>Z</b>hanway</span> <span
		class="logo-lg"><b>Zhan</b>way</span>
	</a> -->
	<a class="logo"> <img alt="" src="/themes/img/logo2.png"
		style="height: 50px;">
	</a>
	<nav class="navbar navbar-static-top">
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
			role="button"> <span class="sr-only">Toggle navigation</span> <span
			class="icon-bar"></span> <span class="icon-bar"></span> <span
			class="icon-bar"></span>
		</a>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li class="dropdown user user-menu"><a href="/home/page/notice"
					class="dropdown-toggle" data-toggle="dropdown"
					aria-expanded="false"> <i class="fa fa-bell-o"></i> <span
						class="label label-warning" id="warningNum"></span>
				</a></li>
				<li class="dropdown user user-menu"><a class="dropdown-toggle"
					data-toggle="dropdown"> <span class="hidden-xs">欢迎您：${homeUserName}</span>
				</a></li>
				<li><a onclick="loginOut();"><i class="fa fa-sign-out"></i></a>
				</li>
			</ul>
		</div>
	</nav>
</header>
<!--左侧导航 -->
<aside class="main-sidebar">
	<section class="sidebar">
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" id="warningInput" class="form-control" value=""
					disabled="disabled"> <span class="input-group-btn">
					<button type="button" name="search" id="search-btn"
						class="btn btn-flat">
						<i class="fa fa-calendar"></i>
					</button>
				</span>
			</div>
		</form>
		<ul class="sidebar-menu">
			<li class="header">MAIN MENUS</li>
			<li class="treeview l1"><a href="#"> <i class="fa fa-edit"></i>
					<span>设备管理</span> <span class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu u1">
					<li onclick="_open('1','/home/p/device/sensor')"><a><i
							class="fa fa-circle-o"></i>车检器管理</a></li>
					<li onclick="_open('1','/home/p/device/pos')"><a><i
							class="fa fa-circle-o"></i> 终端管理</a></li>
				</ul></li>
			<li class="treeview l2"><a href="#"> <i
					class="fa fa-briefcase"></i> <span>停车数据管理</span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu u2">
					<li onclick="_open('2','/home/p/parking_data/inOut')"><a><i
							class="fa fa-circle-o"></i>车检记录管理</a></li>
					<li onclick="_open('2','/home/p/parking_data/rush')"><a><i
							class="fa fa-circle-o"></i> 车位占用率管理</a></li>
					<li onclick="_open('2','/home/p/parking_data/time')"><a><i
							class="fa fa-circle-o"></i> 停车时长管理</a></li>
				</ul></li>
			<li class="treeview l3"><a href="/home/p/device"> <i
					class="fa fa-birthday-cake"></i> <span>账户管理</span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu u3">
					<li onclick="_open('3','/home/p/account/pos')"><a><i
							class="fa fa-circle-o"></i>操作员管理</a></li>
				</ul></li>
			<li class="treeview l4"><a href="#"> <i class="fa fa-bolt"></i>
					<span>车位管理</span> <span class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu u4">
					<li onclick="_open('4','/home/p/order/list')"><a><i
							class="fa fa-circle-o"></i>全部订单</a></li>
					<li onclick="_open('4','/home/p/order/lot_edit')"><a><i
					class="fa fa-circle-o"></i>车位编辑</a></li>
				</ul></li>
	<!-- 		<li class="treeview l5"><a href="#"> <i
					class="fa  fa-plane"></i> <span>数据管理</span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu u5">
					<li onclick="_open('5','/home/p/table')"><a><i
							class="fa fa-circle-o"></i> 仪表盘</a></li>
					<li onclick="_open('5','/home/p/money')"><a><i
							class="fa fa-circle-o"></i> 财务分析</a></li>
					<li onclick="_open('5','/home/p/car')"><a><i
							class="fa fa-circle-o"></i>停车示意图</a></li>
					<li onclick="_open('5','/home/p/changping_a')"><a><i
							class="fa fa-circle-o"></i>昌平路A</a></li>
					<li onclick="_open('5','/home/p/changping_b')"><a><i
							class="fa fa-circle-o"></i>昌平路B</a></li>
					<li onclick="_open('5','/home/p/data')"><a><i
							class="fa fa-circle-o"></i> 车次数据分析</a></li>
				</ul></li> -->
		</ul>
		<ul class="sidebar-menu">

		</ul>
	</section>
</aside>
