<header class="main-header">
	<a class="logo"> <span class="logo-mini"><b>W</b>elcome</span> <span
		class="logo-lg"><b>Wel</b>come</span>
	</a>
	<!-- 	<a class="logo"> <img alt="" src="/themes/img/logo2.png"
		style="height: 50px;">
	</a> -->
	<nav class="navbar navbar-static-top">
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
			role="button"> <span class="sr-only">Toggle navigation</span> <span
			class="icon-bar"></span> <span class="icon-bar"></span> <span
			class="icon-bar"></span>
		</a>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li class="dropdown user user-menu"><a href="/home/page/notice"
					class="dropdown-toggle" data-toggle="dropdown"
					aria-expanded="false"> <i class="fa fa-bell-o"></i> <span
						class="label label-warning" id="warningNum"></span>
				</a></li>
				<li class="dropdown user user-menu"><a class="dropdown-toggle"
					data-toggle="dropdown"> <span class="hidden-xs">欢迎您：${homeUserName}</span>
				</a></li>
				<li><a onclick="loginOut();"><i class="fa fa-sign-out"></i></a>
				</li>
			</ul>
		</div>
	</nav>
</header>
<!--左侧导航 -->
<aside class="main-sidebar">
	<section class="sidebar">
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" id="warningInput" class="form-control" value=""
					disabled="disabled"> <span class="input-group-btn">
					<button type="button" name="search" id="search-btn"
						class="btn btn-flat">
						<i class="fa fa-calendar"></i>
					</button>
				</span>
			</div>
		</form>
		<ul class="sidebar-menu">
			<li class="header">MAIN MENUS</li>
			<li class="treeview l1 active" onclick="_openC('l1','/home/p/pro_user')" ><a> <i class="fa fa-edit"></i>
					<span>用户管理</span> <span class="pull-right-container"> <i
						class="fa fa-angle-left "></i>
				</span>
			</a></li>
	<!-- 		<li class="treeview l2"  onclick="_openC('l2','/home/p/pro_swimming')" ><a> <i
					class="fa fa-birthday-cake"></i> <span>泳池预定</span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left"></i>
				</span>
			</a></li> -->
			<li class="treeview l3"  onclick="_openC('l3','/home/p/pro_diving')" ><a> <i class="fa fa-bolt"></i>
					<span>自由潜预定</span> <span class="pull-right-container"> <i
						class="fa fa-angle-left"></i>
				</span>
			</a></li>
				<li class="treeview l7"  onclick="_openC('l7','/home/p/pro_diving2')" ><a> <i class="fa fa-book"></i>
					<span>水肺潜水预定</span> <span class="pull-right-container"> <i
						class="fa fa-angle-left"></i>
				</span>
			</a></li>
			<li class="treeview l4"  onclick="_openC('l4','/home/p/pro_class_room')" ><a> <i class="fa fa-bicycle"></i>
					<span>教室预定</span> <span class="pull-right-container"> <i
						class="fa fa-angle-left"></i>
				</span>
			</a></li>
				<li class="treeview l5"  onclick="_openC('l5','/home/p/pro_switch')" ><a> <i class="fa fa-book"></i>
					<span>开关设定</span> <span class="pull-right-container"> <i
						class="fa fa-angle-left"></i>
				</span>
			</a></li>
	<!-- 			<li class="treeview l6"  onclick="_openC('l6','/home/p/pro_swim_switch')" ><a> <i class="fa fa-briefcase"></i>
					<span>大班设定</span> <span class="pull-right-container"> <i
						class="fa fa-angle-left"></i>
				</span>
			</a></li> -->
<!-- 			<li class="treeview l8"  onclick="_openC('l8','/home/p/pro_photo')" ><a> <i class="fa fa-briefcase"></i>
					<span>摄影开关</span> <span class="pull-right-container"> <i
						class="fa fa-angle-left"></i>
				</span>
			</a></li> -->
		</ul>
		<ul class="sidebar-menu">

		</ul>
	</section>
</aside>
