<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<link href="https://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css" rel="stylesheet">
	<style type="text/css">
/* 	深色R:16  G:91  B:160
	浅色 R：72 G：202 B：237 */
	</style>
</head>
<body>
	<form>
	  <div class="form-group">
	    <label>观众姓名</label>
	    <input type="email" class="form-control" id="name" placeholder="请输入您的姓名">
	  </div>
	  <div class="form-group">
	    <label>联系方式</label>
	    <input type="password" class="form-control" id="mobilePhone" placeholder="Password">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
	
	<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>