	<!-- 工具栏 -->
	<nav class="bar bar-tab">
		<a class="tab-item external active" onclick="_open('icon-home','/front/p/pic')"> <span
			class="icon icon-home"></span> <span class="tab-label">藏书阁</span>
		</a> <a class="tab-item external" onclick="_open('icon-star','/front/p/pic')"> <span
			class="icon icon-star"></span> <span class="tab-label">插画轩</span>
		</a> <a class="tab-item external"onclick="_open('icon-settings','/front/p/me')"> <span
			class="icon icon-settings"></span> <span class="tab-label">关于我</span>
		</a>
	</nav>
  </body>
</html>