	<!-- 工具栏 -->
	<nav class="bar bar-tab" style="z-index:9999;" >
		<a class="tab-item external active icon-home-"> <span
			class="icon icon-home"  onclick="_open('icon-home-','/front/p/wait')" ></span> <span  onclick="_open('icon-home-','/front/p/wait')" class="tab-label">待处理</span>
		</a> <a class="tab-item external icon-star-" > <span
			class="icon icon-star" onclick="_open('icon-star-','/front/p/done')" ></span> <span onclick="_open('icon-star-','/front/p/done')" class="tab-label">已完成</span>
		</a>
	</nav>
  </body>
</html>