<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>微信分享</title>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
    wx.config({
        debug: false,
        appId: '${appId}',
        timestamp: ${timestamp},
        nonceStr: '${nonceStr}',
        signature: '${signature}',
        jsApiList: [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
            'hideMenuItems',
            'showMenuItems',
            'hideAllNonBaseMenuItem',
            'showAllNonBaseMenuItem',
            'translateVoice',
            'startRecord',
            'stopRecord',
            'onRecordEnd',
            'playVoice',
            'pauseVoice',
            'stopVoice',
            'uploadVoice',
            'downloadVoice',
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage',
            'getNetworkType',
            'openLocation',
            'getLocation',
            'hideOptionMenu',
            'showOptionMenu',
            'closeWindow',
            'scanQRCode',
            'chooseWXPay',
            'openProductSpecificView',
            'addCard',
            'chooseCard',
            'openCard'
        ]
    });

    wx.ready(function () {
        wx.onMenuShareAppMessage({
            title: 'wechat_share',
            desc: 'wechat_share',
            link: 'http://wap.globalrave.cn',
            imgUrl: 'http://wap.globalrave.cn/themes/img/wechat_logo.jpeg',
            success: function () {
                 alert('已转发');
            },
            cancel: function () {
                 alert('已取消');
            },
     });
      wx.onMenuShareTimeline({
    	  title: 'wechat_share',
          link: 'http://wap.globalrave.cn',
          imgUrl: 'http://wap.globalrave.cn/themes/img/wechat_logo.jpeg',
            success: function () {
                 alert("分享成功!");
            },
            cancel: function () {
                alert('已取消');
            }
       });
    });
    wx.error(function(res){
        alert(res.errMsg);
    });
    </script>
</head>
<body>

</body>
</html>